@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&family=Urbanist:wght@100;400;700;800&display=swap");
:root {
  --primary-color: #dc2f02;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Urbanist", sans-serif;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 0 5vw;
  margin-bottom: 2em;
}
